In [ ]:
#python code to detect outliers using modified z score

In [2]:
import pandas as pd
df=pd.read_csv("movie_revenues.csv")
df.tail(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
41,22000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,11453,"[{""id"": 437, ""name"": ""painter""}, {""id"": 587, ""...",en,Deuce Bigalow: European Gigolo,Deuce Bigalow goes to Amsterdam after a little...,10.259461,"[{""name"": ""Columbia Pictures Corporation"", ""id...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",8/6/2005,22400154,83,"[{""iso_639_1"": ""nl"", ""name"": ""Nederlands""}, {""...",Released,For the women of Europe... The price of love j...,Deuce Bigalow: European Gigolo,4.7,225
42,5000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",http://www.stayinyourroom.com/,298312,"[{""id"": 897, ""name"": ""rap music""}, {""id"": 904,...",en,The Visit,The terrifying story of a brother and sister w...,38.947080,"[{""name"": ""Blumhouse Productions"", ""id"": 3172}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",9/10/2015,98450062,94,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,No one loves you like your grandparents.,The Visit,6.0,1360
43,110000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 10752, ""...",http://www.300themovie.com/,53182,"[{""id"": 18712, ""name"": ""based on graphic novel...",en,300: Rise of an Empire,Based on Frank Miller's latest graphic novel X...,71.510596,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/5/2014,337580051,102,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Seize your glory!,300: Rise of an Empire,6.1,2397
44,12000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",NaN,57214,"[{""id"": 2016, ""name"": ""vandalism""}, {""id"": 627...",en,Project X,Three high school seniors throw a party to mak...,49.070321,"[{""name"": ""Silver Pictures"", ""id"": 1885}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/1/2012,100000000,88,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness it,Project X,6.5,1564
45,30000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",http://www.prideandglorymovie.com/,13150,"[{""id"": 467, ""name"": ""megacity""}, {""id"": 2102,...",en,Pride and Glory,A saga centered on a multi-generational family...,10.703602,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",9/9/2008,31148328,130,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Truth. Honor. Loyalty. Family. What are you wi...,Pride and Glory,6.3,240

In [6]:
df.revenue.describe()

count    4.600000e+01
mean     1.879289e+08
std      4.551144e+08
min      8.522060e+05
25%      2.866957e+07
50%      8.381714e+07
75%      1.382135e+08
max      2.787965e+09
Name: revenue, dtype: float64

In [7]:
#finding outliers using z score 
max_num = df.revenue.mean()+ 3*df.revenue.std()
min_num = df.revenue.mean()- 3*df.revenue.std()
print(max_num)
print(min_num)

1553272168.6716654
-1177414371.8455784

In [8]:
df2=df[(df.revenue>max_num) | (df.revenue<min_num)]
df2

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [ ]:
#now lets go to modified z score

In [10]:
median1=df.revenue.median()
median1

83817141.5

In [13]:
df['med']=abs(df.revenue-median1)
df.tail(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,med
41,22000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,11453,"[{""id"": 437, ""name"": ""painter""}, {""id"": 587, ""...",en,Deuce Bigalow: European Gigolo,Deuce Bigalow goes to Amsterdam after a little...,10.259461,"[{""name"": ""Columbia Pictures Corporation"", ""id...",...,8/6/2005,22400154,83,"[{""iso_639_1"": ""nl"", ""name"": ""Nederlands""}, {""...",Released,For the women of Europe... The price of love j...,Deuce Bigalow: European Gigolo,4.7,225,61416987.5
42,5000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",http://www.stayinyourroom.com/,298312,"[{""id"": 897, ""name"": ""rap music""}, {""id"": 904,...",en,The Visit,The terrifying story of a brother and sister w...,38.947080,"[{""name"": ""Blumhouse Productions"", ""id"": 3172}...",...,9/10/2015,98450062,94,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,No one loves you like your grandparents.,The Visit,6.0,1360,14632920.5
43,110000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 10752, ""...",http://www.300themovie.com/,53182,"[{""id"": 18712, ""name"": ""based on graphic novel...",en,300: Rise of an Empire,Based on Frank Miller's latest graphic novel X...,71.510596,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,3/5/2014,337580051,102,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Seize your glory!,300: Rise of an Empire,6.1,2397,253762909.5
44,12000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",NaN,57214,"[{""id"": 2016, ""name"": ""vandalism""}, {""id"": 627...",en,Project X,Three high school seniors throw a party to mak...,49.070321,"[{""name"": ""Silver Pictures"", ""id"": 1885}, {""na...",...,3/1/2012,100000000,88,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness it,Project X,6.5,1564,16182858.5
45,30000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",http://www.prideandglorymovie.com/,13150,"[{""id"": 467, ""name"": ""megacity""}, {""id"": 2102,...",en,Pride and Glory,A saga centered on a multi-generational family...,10.703602,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,9/9/2008,31148328,130,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Truth. Honor. Loyalty. Family. What are you wi...,Pride and Glory,6.3,240,52668813.5

In [12]:
MAD=df.med.median()
MAD
#median absolute deviation is MAD

56399542.5

In [16]:
df['modified_zscore']=0.6745*(df.med/MAD)
df.tail(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,med,modified_zscore
41,22000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,11453,"[{""id"": 437, ""name"": ""painter""}, {""id"": 587, ""...",en,Deuce Bigalow: European Gigolo,Deuce Bigalow goes to Amsterdam after a little...,10.259461,"[{""name"": ""Columbia Pictures Corporation"", ""id...",...,22400154,83,"[{""iso_639_1"": ""nl"", ""name"": ""Nederlands""}, {""...",Released,For the women of Europe... The price of love j...,Deuce Bigalow: European Gigolo,4.7,225,61416987.5,0.734505
42,5000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",http://www.stayinyourroom.com/,298312,"[{""id"": 897, ""name"": ""rap music""}, {""id"": 904,...",en,The Visit,The terrifying story of a brother and sister w...,38.947080,"[{""name"": ""Blumhouse Productions"", ""id"": 3172}...",...,98450062,94,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,No one loves you like your grandparents.,The Visit,6.0,1360,14632920.5,0.175000
43,110000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 10752, ""...",http://www.300themovie.com/,53182,"[{""id"": 18712, ""name"": ""based on graphic novel...",en,300: Rise of an Empire,Based on Frank Miller's latest graphic novel X...,71.510596,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,337580051,102,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Seize your glory!,300: Rise of an Empire,6.1,2397,253762909.5,3.034831
44,12000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",NaN,57214,"[{""id"": 2016, ""name"": ""vandalism""}, {""id"": 627...",en,Project X,Three high school seniors throw a party to mak...,49.070321,"[{""name"": ""Silver Pictures"", ""id"": 1885}, {""na...",...,100000000,88,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness it,Project X,6.5,1564,16182858.5,0.193536
45,30000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",http://www.prideandglorymovie.com/,13150,"[{""id"": 467, ""name"": ""megacity""}, {""id"": 2102,...",en,Pride and Glory,A saga centered on a multi-generational family...,10.703602,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,31148328,130,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Truth. Honor. Loyalty. Family. What are you wi...,Pride and Glory,6.3,240,52668813.5,0.629883

In [25]:
df2=df[df.modified_zscore > 3.5]
df2

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,med,modified_zscore
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2.704148e+09,32.339762
7,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,1513528810,124,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662,1.429712e+09,17.098375
12,25000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,619,"[{""id"": 1156, ""name"": ""sister sister relations...",en,The Bodyguard,A former Secret Service agent grudgingly takes...,26.576385,"[{""name"": ""Tig Productions"", ""id"": 335}, {""nam...",...,411006740,129,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never let her out of your sight. Never let you...,The Bodyguard,6.1,661,3.271896e+08,3.912964

In [27]:
df2.revenue

0     2787965087
7     1513528810
12     411006740
Name: revenue, dtype: int64

In [ ]:
#now we got three outliers.but we  r only selecting the first two,
#since third one isnt an extreme value.