In [1]:
#an outbreak of Salmonella-related illness was attributed to ice cream produced at a
#certain factory.Scientists measured the level of Salmonella in 9 randomly sampled
#batches of ice-cream.The levels(in MPN/g) were
    #0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418

#is there evidence that the mean level of Salmonella in the ice cream is greater than 
#0.3 MPN/g?

# THERE ARE TWO DIFFERENT CALCULATIONS FOR THIS QUESTION,ONE FOR IN-DEPTH UNDERSTANDING OF
# P VALUES AND ANOTHER FOR SHORTCUT FINDING.

In [2]:
import pandas as pd
data={'salmonella':[0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418]}
df=pd.DataFrame(data)
df.head(9)

#we got 9 random samples.
#lets calculate sample mean.

   salmonella
0       0.593
1       0.142
2       0.329
3       0.691
4       0.231
5       0.793
6       0.519
7       0.392
8       0.418

In [11]:
s_mean=df.salmonella.mean()
s_mean

np.float64(0.45644444444444443)

In [12]:
s_std=df.salmonella.std()
s_std

0.212843904723104

In [37]:
#here null hypothesis is population mean level of salmonella<=0.3
#alternate hypothesis is population mean level of salmonella>0.3
#since we dont know the population standard deviation and also our sample size is less,
#we cant use normal distribution but rather t-distribution!

#for our sampling distribution assuming the mean is 0.3,lets calculate the standard error.

import numpy as np
std_error=s_std/np.sqrt(9)
std_error

np.float64(0.07094796824103466)

In [38]:
#lets calculate the t-score
t_score=(s_mean-0.3)/std_error
t_score

np.float64(2.2050588385131595)

In [39]:
#lets calculate the probability or p-value now
from scipy import stats

p_value=1-stats.t.cdf(t_score,df=8)
p_value

np.float64(0.029265164842448788)

In [ ]:
#lets assume the significance level to be 0.05
#we got p_value<0.05 which means we gotta reject the null hypothesis.

#HENCE,THERE IS NO EVIDENCE THAT THE MEAN LEVEL OF SALMONELLA IN THE ICE CREAM IS
#LESS THAN OR EQUAL TO 0.3 MPN/G!

In [ ]:
#NOW LETS FIND THIS WITH JUST ONE LINE OF CODE.

In [36]:
from scipy.stats import ttest_1samp

# Perform one-sample t-test
t_stat,p_value=ttest_1samp(df,0.3)
one_tailed_pvalue=p_value/2
one_tailed_pvalue

#the code ttest_1samp automatically uses the standard error internally.
# Hereâ€™s what happens inside ttest_1samp:
# It calculates the sample mean and sample standard deviation.
# It computes the standard error.
# It calculates the t-statistic.
# It finds the p-value using the t-distribution with n-1 degrees of freedom.

array([0.02926516])