In [4]:
#treatment:101,110,103,93,99,104
#control:91,87,99,77,88,91

#h0= mean1-mean2=0
#h1= mean1-mean2!=0

import pandas as pd
data1= pd.DataFrame({'treatment':[101,110,103,93,99,104]})
data1.head(6)

   treatment
0        101
1        110
2        103
3         93
4         99
5        104

In [5]:
data2= pd.DataFrame({'control':[91,87,99,77,88,91]})
data2.head(6)

   control
0       91
1       87
2       99
3       77
4       88
5       91

In [6]:
from scipy import stats

stats.levene(data1,data2)

LeveneResult(statistic=array([0.11363636]), pvalue=array([0.74300984]))

In [10]:
statistic,pvalue=stats.ttest_ind(data1,data2)
statistic,pvalue

(array([3.44561267]), array([0.00627212]))

In [11]:
if pvalue > 0.05 :
    print("dont reject the null hypothesis")
else :
    print("reject the null hypothesis")

reject the null hypothesis